@model obligatorio2024.Models.Ordene

@{
    ViewData["Title"] = "Details";
}

<br />

<h1 class="category">Detalles de la Orden</h1>

<br />
<div class="el-que-contiene">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdenDetalles.First().Menu.NombrePlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenDetalles.First().Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrdenDetalles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.NombrePlato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="IncrementDetail" asp-route-id="@item.Id" class="btn btn-primary btn-sm">+</a>
                    <a asp-action="DecrementDetail" asp-route-id="@item.Id" class="btn btn-primary btn-sm">-</a>
                    <a asp-action="DeleteDetail" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-create-custom">Back to List</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
