@model IEnumerable<obligatorio2024.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="category">Usuarios</h1>

<div class="el-que-contiene">
<p>
    <a asp-action="Create" class="btn btn-create-custom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contraseña)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-custom-icon btn-edit"></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-custom-icon btn-details"></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-custom-icon btn-delete"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>