@model IEnumerable<obligatorio2024.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    var clienteId = ViewBag.ClienteId as int?;
    var restauranteId = ViewBag.SelectedRestauranteId as int?;
}

<h1>Reservas</h1>

<form method="get">
    <div class="form-group">
        <label for="RestauranteId">Restaurante</label>
        <select id="RestauranteId" name="restauranteId" class="form-control" onchange="this.form.submit()">
            @foreach (var item in (SelectList)ViewBag.RestauranteId)
            {
                @if (item.Value == restauranteId?.ToString())
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="TelefonoCliente">Número de teléfono del cliente</label>
        <input type="text" id="TelefonoCliente" name="telefonoCliente" class="form-control" " />
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="/Reservas" class="btn btn-secondary">Limpiar</a>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa.NumeroMesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa.Restaurante.Dirección)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(r => r.FechaReserva))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesa.NumeroMesa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesa.Restaurante.Dirección)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
