@model IEnumerable<obligatorio2024.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Menus</h1>

<p>
    <a asp-action="Create" class="btn btn-create-custom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Plato
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
 
            <th>
                Categoria
            </th>
            <th>
                Disponible
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
