@model IEnumerable<obligatorio2024.Models.Menu>

@{
    ViewData["Title"] = ViewData["Category"] + " - Menú Categoria";
}


<br>
<h1 class="category">@ViewData["Category"]</h1>
<br>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="@item.ImagenUrl" class="card-img-top" alt="@item.NombrePlato">
                <div class="card-body">
                    <h5 class="card-title">@item.NombrePlato</h5>
                    <p class="card-text">@item.Descripción</p>
                    <p class="font-weight-bold">$@item.Precio</p>
                </div>
            </div>
        </div>

    }
</div>
