@model obligatorio2024.Models.Clima

@{
    ViewData["Title"] = "Details";
}

<h1 class="category">Details</h1>

<div class="el-que-contiene">
<div>
    <h4>Clima</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripciónClima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripciónClima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-create-custom" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-create-custom">Back to List</a>
</div>
</div>